.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

# obj files
*.o
*.asm
*.bin
*.elf
*.hex

 
# zip data
*.zip


# python
__pycache__/
*.py[codz]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST